<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Champions</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Donegal+One&family=Goblin+One&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">

    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <img id="riot-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/5b/Riot_Games_2022.svg/2560px-Riot_Games_2022.svg.png"/>
        <p>Riot summoners</p>
    </div>
    <div>
        <p id="search-label">Find a summoner:</p>
        <div id="div-search-textarea">
            <textarea id="search-textarea"></textarea>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>