<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Champion</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Donegal+One&family=Goblin+One&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">

    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/summoner.css}" rel="stylesheet" />
</head>
 <body>
    <div id="header">
        <img id="riot-logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/5/5b/Riot_Games_2022.svg/2560px-Riot_Games_2022.svg.png"/>
        <p>Riot summoners</p>
    </div>
    <div class="summoner-name">
        <div id="div-back-button">
            <button id="back-button" onclick="window.location.href='http://localhost:8080';">Back</button>
        </div>
        <h1 th:text="${summoner.getSummonerName()}"> </h1>
    </div>
    <div>
        <img id="profile-image" th:src="${summoner.getProfileIconAddress()}"/>
        <div id="info">
            <p> Level: <span th:text="${summoner.getSummonerLevel()}"></span></p>
            <p> Rank Flex: <span th:text="${summoner.getRankFlex()}"></span></p>
            <p> Rank Solo: <span th:text="${summoner.getRankSolo()}"></span></p>
            <p> Region: <span th:text="${summoner.getRegion()}"></span></p>
            <div id="champions">
                <div>
                    <div class="box">
                        <p>Most played champion:</p>
                        <div class="box-info">
                            <div>
                                <img class="champion-profile-icon" th:src="${championsPlayed.getMPProfileIconAddress()}" onerror="this.style.display='none'"/>
                            </div>
                            <div>
                                <p class="box-name" th:text="${championsPlayed.getMostPlayedChampionName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${championsPlayed.getMostPlayedChampionCount()}"></span></p>
                                <p>Winrate: <span th:text="${championsPlayed.getMostPlayedChampionWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${championsPlayed.getMostPlayedChampionKills()}"></span> /
                                    <span th:text="${championsPlayed.getMostPlayedChampionDeaths()}"></span> /
                                    <span th:text="${championsPlayed.getMostPlayedChampionAssists()}"></span></p>
                                <p><span th:text="${championsPlayed.getMostPlayedChampionKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p>Second most played champion:</p>
                        <div class="box-info">
                            <div>
                                <img class="champion-profile-icon" th:src="${championsPlayed.getSMPProfileIconAddress()}" onerror="this.style.display='none'"/>
                            </div>
                            <div>
                                <p class="box-name" th:text="${championsPlayed.getSecondMostPlayedChampionName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${championsPlayed.getSecondMostPlayedChampionCount()}"></span></p>
                                <p>Winrate: <span th:text="${championsPlayed.getSecondMostPlayedChampionWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${championsPlayed.getSecondMostPlayedChampionKills()}"></span> /
                                    <span th:text="${championsPlayed.getSecondMostPlayedChampionDeaths()}"></span> /
                                    <span th:text="${championsPlayed.getSecondMostPlayedChampionAssists()}"></span></p>
                                <p><span th:text="${championsPlayed.getSecondMostPlayedChampionKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <p>Best performing champion:</p>
                        <div class="box-info">
                            <div>
                                <img class="champion-profile-icon" th:src="${championsPlayed.getBPProfileIconAddress()}" onerror="this.style.display='none'"/>
                            </div>
                            <div>
                                <p class="box-name" th:text="${championsPlayed.getBestPerformingChampionName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${championsPlayed.getBestPerformingChampionCount()}"></span></p>
                                <p>Winrate: <span th:text="${championsPlayed.getBestPerformingChampionWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${championsPlayed.getBestPerformingChampionKills()}"></span> /
                                    <span th:text="${championsPlayed.getBestPerformingChampionDeaths()}"></span> /
                                    <span th:text="${championsPlayed.getBestPerformingChampionAssists()}"></span></p>
                                <p><span th:text="${championsPlayed.getBestPerformingChampionKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p>Worst performing champion:</p>
                        <div class="box-info">
                            <div>
                                <img class="champion-profile-icon" th:src="${championsPlayed.getWPProfileIconAddress()}" onerror="this.style.display='none'"/>
                            </div>
                            <div>
                                <p class="box-name" th:text="${championsPlayed.getWorstPerformingChampionName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${championsPlayed.getWorstPerformingChampionCount()}"></span></p>
                                <p>Winrate: <span th:text="${championsPlayed.getWorstPerformingChampionWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${championsPlayed.getWorstPerformingChampionKills()}"></span> /
                                    <span th:text="${championsPlayed.getWorstPerformingChampionDeaths()}"></span> /
                                    <span th:text="${championsPlayed.getWorstPerformingChampionAssists()}"></span></p>
                                <p><span th:text="${championsPlayed.getWorstPerformingChampionKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="game-modes">
                <div>
                    <div class="box">
                        <p>Most played game mode:</p>
                        <div class="box-info">
                            <div>
                                <p class="box-name" th:text="${gameModesPlayed.getMostPlayedGameModeName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${gameModesPlayed.getMostPlayedGameModeCount()}"></span></p>
                                <p>Winrate: <span th:text="${gameModesPlayed.getMostPlayedGameModeWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${gameModesPlayed.getMostPlayedGameModeKills()}"></span> /
                                    <span th:text="${gameModesPlayed.getMostPlayedGameModeDeaths()}"></span> /
                                    <span th:text="${gameModesPlayed.getMostPlayedGameModeAssists()}"></span></p>
                                <p><span th:text="${gameModesPlayed.getMostPlayedGameModeKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p>Second most played game mode:</p>
                        <div class="box-info">
                            <div>
                                <p class="box-name" th:text="${gameModesPlayed.getSecondMostPlayedGameModeName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${gameModesPlayed.getSecondMostPlayedGameModeCount()}"></span></p>
                                <p>Winrate: <span th:text="${gameModesPlayed.getSecondMostPlayedGameModeWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${gameModesPlayed.getSecondMostPlayedGameModeKills()}"></span> /
                                    <span th:text="${gameModesPlayed.getSecondMostPlayedGameModeDeaths()}"></span> /
                                    <span th:text="${gameModesPlayed.getSecondMostPlayedGameModeAssists()}"></span></p>
                                <p><span th:text="${gameModesPlayed.getSecondMostPlayedGameModeKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box">
                        <p>Best performing game mode:</p>
                        <div class="box-info">
                            <div>
                                <p class="box-name" th:text="${gameModesPlayed.getBestPerformingGameModeName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${gameModesPlayed.getBestPerformingGameModeCount()}"></span></p>
                                <p>Winrate: <span th:text="${gameModesPlayed.getBestPerformingGameModeWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${gameModesPlayed.getBestPerformingGameModeKills()}"></span> /
                                    <span th:text="${gameModesPlayed.getBestPerformingGameModeDeaths()}"></span> /
                                    <span th:text="${gameModesPlayed.getBestPerformingGameModeAssists()}"></span></p>
                                <p><span th:text="${gameModesPlayed.getBestPerformingGameModeKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <p>Worst performing game mode:</p>
                        <div class="box-info">
                            <div>
                                <p class="box-name" th:text="${gameModesPlayed.getWorstPerformingGameModeName()}"></p>
                            </div>
                            <div>
                                <p>Played: <span th:text="${gameModesPlayed.getWorstPerformingGameModeCount()}"></span></p>
                                <p>Winrate: <span th:text="${gameModesPlayed.getWorstPerformingGameModeWinRate()}"></span></p>
                            </div>
                            <div>
                                <p><span th:text="${gameModesPlayed.getWorstPerformingGameModeKills()}"></span> /
                                    <span th:text="${gameModesPlayed.getWorstPerformingGameModeDeaths()}"></span> /
                                    <span th:text="${gameModesPlayed.getWorstPerformingGameModeAssists()}"></span></p>
                                <p><span th:text="${gameModesPlayed.getWorstPerformingGameModeKDA()}"></span> KDA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rating">
            <div id="stars">
                <img id="star1" class="star" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Yellow_Star_with_rounded_edges.svg" onclick="add_rating(1)"/>
                <img id="star2" class="star" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Yellow_Star_with_rounded_edges.svg" onclick="add_rating(2)"/>
                <img id="star3" class="star" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Yellow_Star_with_rounded_edges.svg" onclick="add_rating(3)"/>
                <img id="star4" class="star" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Yellow_Star_with_rounded_edges.svg" onclick="add_rating(4)"/>
                <img id="star5" class="star" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Yellow_Star_with_rounded_edges.svg" onclick="add_rating(5)"/>
            </div>
            <p><span th:text="${summoner.getAverage()}"></span> / 5 <span id="nb-votes">(<span th:text="${summoner.getCardinal()}"></span> votes)</span></p>
        </div>
    </div>

    <script>
        var summonerName = "[[${summoner.getSummonerName()}]]";
        var summonerAvgRating = [[${summoner.getAverage()}]];
    </script>
    <script type="text/javascript" th:src="@{/js/summoner.js}"></script>
</body>
</html>